<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>{% block title %}{% endblock %}</title>
<!-- Bootstrap -->
<link href="/iplay_mgmt/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="/iplay_mgmt/static/css/global.css" rel="stylesheet" media="screen">
<link href="/iplay_mgmt/static/css/docs.css" rel="stylesheet" media="screen">
<link href="/iplay_mgmt/static/css/css.css" rel="stylesheet" type="text/css" />
<link href="/iplay_mgmt/static/css/default.css" rel="stylesheet" type="text/css" />
<link href="/iplay_mgmt/static/css/iplay.css" rel="stylesheet" type="text/css" />
</head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/iplay_mgmt/admin/">{% block user %}{% endblock %}</a></li>
              <li><a href="/iplay_mgmt/admin/password_change">修改密码</a></li>
              <li class=""><a href="/iplay_mgmt/accounts/logout/">登出</a></li>
            </ul>
          </div>
           <div style="float:right;margin-right:1.5%;margin-top:1%;">
            <input type="button" value="返回" onclick="history.go(-1);" style="left:140px;top:90px;width:100px;"/>
            </div>
        </div>
      </div>
    </div>
    <div id="main" class="container-fluid">
   	  <div id="sidebar">
        <div class="sidebar-nav">
          <ul id="nav-list" class="nav nav-list bs-docs-sidenav">
            {% include "market/menu.html" %}
          </ul>
          <input type="button" id="release" value="发布" class="nav nav-list bs-docs-sidenav" style="float:left;width:70%;color:#0081c2;margin-left:0px"></input> 
          <input type="button" id="update" value="同步论坛数据" class="nav nav-list bs-docs-sidenav" style="float:left;width:70%;color:#0081c2;margin-left:0px"></input> 
          <input type="button" id="check" value="检查失效的游戏和专题" class="nav nav-list bs-docs-sidenav" style="float:left;width:70%;color:#0081c2;margin-left:0px"></input> 
        </div>
      </div>
      <div style="padding-left:196px;">
        <div class="mini-layout" style="height:750px;">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/iplay_mgmt/static/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/iplay_mgmt/static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/iplay_mgmt/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/iplay_mgmt/static/js/iplay.js"></script>
    <script type="text/javascript" src="/iplay_mgmt/static/js/adddate.js" ></script> 
  </body>
</html>
