<!-- header logo: style can be found in header.less -->
<header class="header">
    <a href="{% url 'index'%}" class="logo">
        <!-- Add the class icon to your logo image or logo icon to add the margining -->
        LBE反馈信息管理后台
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="{% url 'index'%}" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="{% url 'index' %}admin/" class="dropdown-toggle" target="_blank">
                        <i class="glyphicon glyphicon-user"></i>
                        <span><li><a href="{% url "userlogout" %}">退出</a></li></span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
