{% extends "game/header.html" %}

{% block title %}游戏详情{% endblock %}

{% block user %}{{user.last_name}}{{user.first_name}}{% endblock %}

{% block content %}

<!--            <div style="float:left;margin-left:1.5%;margin-top:1%;margin-bottom:2%;">
            <input type="button" value="返回" onclick="history.go(-1);" style="left:140px;top:90px;width:100px;"/>
            </div>
-->

    <aside class="side">

        <!-- Main content -->

        <section class="content">
            <div class="col-md-10">
                <table class="table table-bordered">
                    <th style="width: 20%">基本信息</th>
                    <th style="width: 80%">内容</th>
                    <tbody>
{#                        <tr>#}
{#                            <td>搜索名</td>#}
{#                            <td><input type="text" id="label-search-name" value="" /></td>#}
{#                        </tr>#}
                        <tr>
                            <td>游戏名</td>
                            <td><input type="text" readonly="readonly" id="label-game-name" value="{%if info.game_name %}{{ info.game_name }}{% else %}{{''}}{%endif%}" /></td>
                        </tr>
                        {% ifequal pkg.market_channel 'google' %}
                        <tr>
                            <td>Google游戏详情地址</td>
                            <td><a target="blank" href="http://play.google.com/store/apps/details?id={{pkg.pkg_name}}">http://play.google.com/store/apps/details?id={{pkg.pkg_name}}</a></td>
                        </tr>
                        {% endifequal %}
                        <tr>
                            <td>游戏显示名</td>
                            <td><input type="text" id="label-display-name" value="{%if info.display_name%}{{ info.display_name }}{%else%}{{''}}{%endif%}" /></td>
                        </tr>
                        <tr>
                            <td>角标</td>
                            <td>
                                <input type="radio" style="width:5%;" name="subscript" value="0" {% ifequal info.subscript '0' %}{{ "checked" }}{% endifequal %}>无</input>
                                <input type="radio" style="width:5%;" name="subscript" value="1"{% ifequal info.subscript '1' %}{{ "checked" }}{% endifequal %}>首发</input>
                                <input type="radio" style="width:5%;" name="subscript" value="2"{% ifequal info.subscript '2' %}{{ "checked" }}{% endifequal %}>推荐</input>
                                <input type="radio" style="width:5%;" name="subscript" value="3"{% ifequal info.subscript '3' %}{{ "checked" }}{% endifequal %}>热门</input>
                            </td>
                        </tr>
                        <tr>
                            <td>彩标</td>
                            <td>
                                <input type="checkbox" name="color_label" style="width:5%;" value="1" {% for color_label in color_labels %}{% ifequal color_label '1' %}{{ "checked" }}{% endifequal %}{% endfor %}>免内购</input>
                                <input type="checkbox" name="color_label" style="width:5%;" value="2" {% for color_label in color_labels %}{% ifequal color_label '2' %}{{ "checked" }}{% endifequal %}{% endfor %}>破解</input>
                                <input type="checkbox" name="color_label" style="width:5%;" value="3" {% for color_label in color_labels %}{% ifequal color_label '3' %}{{ "checked" }}{% endifequal %}{% endfor %}>插件</input>
                                <input type="checkbox" name="color_label" style="width:5%;" value="4" {% for color_label in color_labels %}{% ifequal color_label '4' %}{{ "checked" }}{% endifequal %}{% endfor %}>存档</input>
                                <input type="checkbox" name="color_label" style="width:5%;" value="5" {% for color_label in color_labels %}{% ifequal color_label '5' %}{{ "checked" }}{% endifequal %}{% endfor %}>免google</input>
                            </td>
                        </tr>
                        <tr>
                            <td>游戏ID</td>
                            <td><input type="text" readonly="readonly" id="label-game-id" value="{{ info.game_id }}" /></td>
                        </tr>
                        <tr>
                            <td>下载量</td>
                            <td><input type="text" id="label-download" value="{{ info.download_counts }}" /></td>
                        </tr>
                        <tr>
                            <td>语言</td>
                            <td><input type="text" id="label-language" value="{%if info.game_language%}{{ info.game_language }}{%else%}{{''}}{%endif%}" /></td>
                        </tr>
                        <tr>
                            <td>类型</td>
                            <td><textarea id="label-type" readonly="readonly" rows="5" cols="140" class="required" tabindex="4">{%if info.game_types%}{{ info.game_types }}{%else%}{{''}}{%endif%}</textarea></td>
                        </tr>
                        <tr>
                            <td>评分</td>
                            <td><input type="text" id="label-star" value="{%if info.star_num%}{{ info.star_num }}{%else%}{{''}}{%endif%}" /></td>
                        </tr>
                        <tr>
                            <td>ICON</td>
                            <td><img style="width:75px;height:75px;" src="{{ info.icon_url }}">
                            <input type="text" style="width:74%;" id="label-icon" value="{{ info.icon_url }}" style=""></td>
                        </tr>
                        <tr>
                            <td>简单描述</td>
                            <td><textarea style="width:80%;height:30px;" id="label-short-desc" rows="12" cols="140" class="required" tabindex="4">{%if info.short_desc%}{{ info.short_desc }}{%else%}{{''}}{%endif%}</textarea></td>
                        </tr>
                        <tr>
                            <td>详细描述</td>
                            <td><textarea style="width:80%;height:500px;" id="label-desc" rows="12" cols="140" class="required" tabindex="4">{{ info.detail_desc }}</textarea></td>
                        </tr>
                        <tr>
                            <td><p>截图</p><input style="float:left;margin-top:100px;margin-left:2px;" type="button" id="addScreen" value="新增截图" class="submit_button"></input> 
 </td>
                            <td>
                                {% for screen_shot_url in screen_shot_urls %}
                                <span style="position: relative;">
                                <img class="screen_shot_url" id="{{ screen_shot_url.num }}IMG" alt="{{ screen_shot_url.num }}" style="width:195px;height:276px;margin-left:10px;margin-top:10px" src="{{ screen_shot_url.url }}" onclick="previewPhoto('{{ screen_shot_url.num }}');" onmouseover="showDeleteDiv('{{ screen_shot_url.num }}');" onmouseout="imgOnmouseout(),hideDeleteDiv('{{ screen_shot_url.num }}');"></input>
                                </span>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td><input style="width:120px;background:#0099ff;color:#ffffff" type="button" id="label-btn" onclick="label_info_change()" value="确定修改"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-10">
                <table class="table table-bordered">
                    <th>渠道</th>
                    <tr id="channels">
                    {% for channel in channels %}
                        <td><a href="javascript:void(0)" onclick="show_info('{{ channel }}')">{{ channel }}</td>
                    {% endfor %}
                    </tr>
                </table>
            </div>
            <div class="col-md-10">
                <table class="table table-bordered">
                    <th style="width: 20%">安装包信息</th>
                    <th style="width: 80%">内容</th>
                    <tbody>
                        <tr>
                            <td>游戏名</td>
                            <td><input type="text" id="pkg-game-name" value="{{pkg.game_name}}" readonly="true" /></td>
                        </tr>
                        <tr>
                            <td>渠道</td>
                            <td><input type="text" id="pkg-pkg" value="{{pkg.market_channel}}" readonly="true" /></td>
                        </tr>
                        <tr>
                            <td>包名</td>
                            <td><input type="text" id="pkg-name" value="{{pkg.pkg_name}}" readonly="readonly" /></td>
                        </tr>
                        <tr>
                            <td>版本号</td>
                            <td><input type="text" id="pkg-ver-code" value="{{pkg.ver_code}}" readonly="true" /></td>
                        </tr>
                        <tr>
                            <td>版本名</td>
                            <td><input type="text" id="pkg-ver-name" value="{{pkg.ver_name}}" readonly="true" /></td>
                        </tr>
                        <tr>
                            <td>大小</td>
                            <td><input type="text" id="pkg-size" value="{{pkg.file_size}}" readonly="true" /></td>
                        </tr>
                        <tr>
                            <td>下载量</td>
                            <td><input type="text" id="pkg-down-num" value="{{pkg.downloaded_cnts}}" readonly="true" /></td>
                        </tr>
                        <tr>
                            <td>语言</td>
                            <td><input type="text" id="pkg-language" value="{{game_language}}" readonly="true" /></td>
                        </tr>
                        <tr>
                            <td>类型</td>
                            <td><textarea id="pkg-type" rows="5" cols="140" class="required" tabindex="4" readonly="true" >{{pkg.game_types}}</textarea></td>
                        </tr>
                        <tr>
                            <td>下载地址</td>
                            <td><input type="text" id="pkg-down-url" value="{{pkg.download_url}}" style="width:80%" readonly="true" /></td>
                        </tr>
                        <tr>
                            <td>ICON</td>
                            <td><img style="width:75px;height:75px;" readonly="readonly" src="{{ info.icon_url }}"></td>
                        </tr>
                        <tr>
                            <td>截图</td>
                            <td><textarea style="width:80%;" id="pkg-screen" rows="5" cols="140" class="required" tabindex="4" readonly="true" >{{pkg.screen_shot_urls}}</textarea></td>
                        </tr>
                        <tr>
                            <td>描述</td>
                            <td><textarea style="width:80%;" id="pkg-desc" rows="12" cols="140" class="required" tabindex="4" readonly="true" >{{pkg.game_desc}}</textarea></td>
                        </tr>
                        <!--tr>
                            <td><input type="button" id="pkg-btn" onclick="pkg_info_change()" value="确定修改"></td>
                        </tr-->
                    </tbody>
                </table>
            </div>

        </section>
        <!-- /.content -->
        <input type="hidden" id="game-id" value="{{ info.game_id }}"/>
        <input type="hidden" id="apk-id" value=""/>

    </aside><!-- /.right-side -->

{% endblock %}

{% block extrajs %}
<script type="text/javascript">

$("#addScreen").click(function(){
    var game_id = $("#game-id").val();
    var screen_shot_url = prompt("请输入新增截图地址:");
    var descJson = {};
    descJson['game_id'] = game_id;
    descJson['screen_shot_url'] = screen_shot_url;
    $.post('/iplay_mgmt/game/addScreen/', descJson, function(result){
        window.location.href = '/iplay_mgmt/game/detail/?game_id='+game_id;
    });
});

var imgFlag = false; //鼠标放在图片上标记
var divFlag = false; //鼠标放在删除层上标记

function showDeleteDiv(resourceCode){
    imgFlag = true;
    $("#"+resourceCode+"DIV").css("display","block");
};

function hideDeleteDiv(resourceCode){
    if(!imgFlag && !divFlag){
        $("#"+resourceCode+"DIV").css("display","none");  
    }
};

function imgOnmouseout(){
    imgFlag=false;
};

function divOnmouseover(resourceCode){
    divFlag = true;
    showDeleteDiv(resourceCode);
};

function divOnmouseout(resourceCode){
    divFlag = false;
    if(imgFlag){
        showDeleteDiv(resourceCode);
    }else{
        hideDeleteDiv(resourceCode);
    }
};

function previewPhoto(resourceCode) {
    //alert("查看图片"+resourceCode);
};

function removeGroupNotActivitySharingPhotoByResourceCode(resourceCode) {
    alert("删除图片"+resourceCode);
    $("#"+resourceCode+"IMG").parent().detach();
}
$(document).ready(function(){
    $("img.screen_shot_url").each(function(i){
        var divObj=$("<div onclick=removeGroupNotActivitySharingPhotoByResourceCode('"+$(this).attr('alt')+"'); onmouseover=divOnmouseover('"+$(this).attr('alt')+"'); onmouseout=divOnmouseout('"+$(this).attr('alt')+"');>×</div>");
        divObj.addClass("divX");
        divObj.attr("id",$(this).attr("alt")+"DIV");
        divObj.attr("title","删除图片"+$(this).attr('alt'));
        divObj.css({position:"absolute", left: $(this).position().left+170, top:$(this).position().top+10});
        $(this).parent().append(divObj);
    });
 });
    //

    String.format = function() {
        if( arguments.length == 0 ) {
            return null;
        }
        var str = arguments[0];
        for(var i=1;i<arguments.length;i++) {
            var re = new RegExp('\\{' + (i-1) + '\\}','gm');
            str = str.replace(re, arguments[i]);
        }
        return str;
    };

    function show_channel(g_id) {
        if(g_id) {
            clear();
            $("#game-id").val(g_id);
            $("#game-info").html('');
            // console.log(g_id);
            $.ajax({
                type: 'post',
                url: '/iplay_mgmt/game/channel/',
                data: {g_id: g_id, csrfmiddlewaretoken: '{{ csrf_token }}'},
                dataType: 'json'})
            .done(function(data){
                if(data.status) {
                    if(data.status == '400') {
                        alert(data.error);
                    } else if(data.status == '200') {
                        // console.log(data.msg);
                        if(data.msg) {
                            var html = "";
                            for(var i=0; i<data.msg.length; i++) {
                                var td = '<td><a href="javascript:void(0)" onclick="show_info(\'{0}\')">{0}</a></td>';
                                var channel = data.msg[i];
                                if(i == 0) {
                                    show_info(channel);
                                }
                                html += String.format(td, channel);
                            }
                            $("#channels").html(html);
                        }
                    }
                }
            })
            .fail(function() {
                alert("请求出错");
            });

            // 基本信息请求
            $.ajax({
                type: 'post',
                url: '/iplay_mgmt/game/labelinfo/',
                data: {g_id: g_id, csrfmiddlewaretoken: '{{ csrf_token }}'},
                dataType: 'json'})
            .done(function(data){
                if(data.status) {
                    if(data.status == '400') {
                        alert(data.error);
                    } else if(data.status == '200') {
                        // console.log(data.msg);
                        if(data.msg) {
                            var msg_fields = data.msg;
                            // console.log(msg_fields);
                            if(msg_fields) {
                                var info = msg_fields[0].fields;
                                if(info) {
{#                                    $("#label-search-name").val(info.search_name);#}
                                    $("#label-game-name").val(info.game_name);
                                    $("#label-download").val(info.download_counts);
                                    $("#label-language").val(info.game_language);
                                    $("#label-type").val(info.game_types);
                                    $("#label-star").val(info.star_num);
                                    $("#label-icon").val(info.icon_url);
                                    $("#label-screen").val(info.screen_shot_urls);
                                    $("#label-desc").val(info.detail_desc);
                                }
                            }
                        }
                    }
                }
            })
            .fail(function() {
                alert("请求出错");
            });
        }
    }

    function show_info(channel) {
        var g_id = $("#game-id").val();
        if(g_id && channel.length>0) {
            $.ajax({
                type: 'post',
                url: '/iplay_mgmt/game/gameinfo/',
                data: {g_id: g_id, channel: channel, csrfmiddlewaretoken: '{{ csrf_token }}'},
                dataType: 'json'})
            .done(function(data){
                if(data.status) {
                    if(data.status == '400') {
                        alert(data.error);
                    } else if(data.status == '200') {
                        // console.log(data.msg);
                        if(data.msg) {
                            var msg_fields = data.msg;
                            if(msg_fields) {
                                var info = msg_fields[0].fields;
                                 $("#apk-id").val(msg_fields[0].pk);
                                if(info) {
                                    $("#pkg-game-name").val(info.game_name);
                                    $("#pkg-channel").val(info.market_channel);
                                    $("#pkg-name").val(info.pkg_name);
                                    $("#pkg-ver-code").val(info.ver_code);
                                    $("#pkg-ver-name").val(info.ver_name);
                                    $("#pkg-size").val(info.file_size);
                                    $("#pkg-down-num").val(info.downloaded_cnts);
                                    $("#pkg-language").val(info.game_language);
                                    $("#pkg-type").val(info.game_types);
                                    $("#pkg-down-url").val(info.download_url);
                                    $("#pkg-icon").val(info.icon_url);
                                    $("#pkg-screen").val(info.screen_shot_urls);
                                    $("#pkg-desc").val(info.game_desc);
                                }
                            }

                        }
                    }
                }
            })
            .fail(function() {
                alert("请求出错");
            });
        }
    }


    function label_info_change() {
        var game_id = $("#game-id").val();
        if(game_id) {
            var subscript = "";
            $('input[type="radio"]:checked').each(function(){
               subscript = $(this).val();
               //alert($(this).val());
            });
            var color_label = "";
            $('input[type="checkbox"]:checked').each(function(){
                color_label = color_label + $(this).val() + "\n";
            });
            if (color_label.length > 0){
                color_label = color_label.substr(0, color_label.length - 1);
            }
            var screen = "";
            $('img.screen_shot_url').each(function(){
                screen = screen + $(this).attr("src") + "\n";
                //color_label = color_label + $(this).val() + "\n";
            });
            if (screen.length > 0){
                screen = screen.substr(0, screen.length - 1);
            }
            var display_name = $("#label-display-name").val();
            var download_num = $("#label-download").val();
            var language = $("#label-language").val();
            var star = $("#label-star").val();
            var icon = $("#label-icon").val();
       //     var screen = $("#label-screen").val();
            var short_desc = $("#label-short-desc").val();
            var desc = $("#label-desc").val();

            $.ajax({
                type: 'post',
                url: '/iplay_mgmt/game/label_info_change/',
                data: {game_id: game_id,
                    display_name: display_name,
                    subscript: subscript,
                    color_label: color_label,
                    download_num: download_num,
                    language: language,
               //     type: type,
                    star: star,
                    icon: icon,
                    screen: screen,
                    short_desc: short_desc,
                    desc: desc,
                    csrfmiddlewaretoken: '{{ csrf_token }}'},
                dataType: 'json'})
            .done(function(data){
                if(data.status) {
                    if(data.status == '400') {
                        alert(data.error);
                    } else if(data.status == '200') {
                        // console.log(data.msg);
                        alert("修改成功");
                    }
                }
            })
            .fail(function() {
                alert("请求出错");
            });
        }
    }

    function pkg_info_change() {
        var apk_id = $("#apk-id").val();
        if(apk_id) {
            var game_name = $("#pkg-game-name").val();
         //   var pkg_name = $("#pkg-name").val();
         //   var ver_code = $("#pkg-ver-code").val();
         //   var ver_name = $("#pkg-ver-name").val();
            var size = $("#pkg-size").val();

            var download_num = $("#pkg-down-num").val();
            var language = $("#pkg-language").val();
            var type = $("#pkg-type").val();
            var url = $("#pkg-down-url").val();
            var icon = $("#pkg-icon").val();
            var screen = $("#pkg-screen").val();
            var desc = $("#pkg-desc").val();

            $.ajax({
                type: 'post',
                url: '/iplay_mgmt/game/pkg_info_change/',
                data: {apk_id: apk_id,
                    game_name: game_name,
           //         pkg_name: pkg_name,
           //         ver_code: ver_code,
           //         ver_name: ver_name,
                    size: size,
                    download_num: download_num,
                    language: language,
                    type: type,
                    url: url,
                    icon: icon,
                    screen: screen,
                    desc: desc,
                    csrfmiddlewaretoken: '{{ csrf_token }}'},
                dataType: 'json'})
            .done(function(data){
                if(data.status) {
                    if(data.status == '400') {
                        alert(data.error);
                    } else if(data.status == '200') {
                        // console.log(data.msg);
                        alert("修改成功");
                    }
                }
            })
            .fail(function() {
                alert("请求出错");
            });
        }
    }

    function clear() {
        $("#apk-id").val("");

        $("#pkg-game-name").val("");
        $("#pkg-channel").val("");
        $("#pkg-name").val("");
        $("#pkg-ver-code").val("");
        $("#pkg-ver-name").val("");
        $("#pkg-size").val("");
        $("#pkg-down-num").val("");
        $("#pkg-language").val("");
        $("#pkg-type").val("");
        $("#pkg-down-url").val("");
        $("#pkg-icon").val("");
        $("#pkg-screen").val("");
        $("#pkg-desc").val("");

        $("#label-search-name").val("");
        $("#label-game-name").val("");
        $("#label-download").val("");
        $("#label-language").val("");
        $("#label-type").val("");
        $("#label-star").val("");
        $("#label-icon").val("");
        $("#label-screen").val("");
        $("#label-desc").val("");
    }
</script>
{% endblock %}
