<li class="dropdown-submenu"><a href="#"><i class="icon-chevron-right"></i>游戏数据</a>
    <ul class="dropdown-menu">
        <li><a tabindex="-1" href="/iplay_mgmt/game/">游戏数据搜索页</a></li>
    </ul>
</li>
<li class="dropdown-submenu"><a href="#"><i class="icon-chevron-right"></i>市场</a>
    <ul class="dropdown-menu">
        <li><a tabindex="-1" href="/iplay_mgmt/market/recommend/">推荐页</a></li>
        <li><a tabindex="-1" href="/iplay_mgmt/market/topic/">专题页</a></li>
        <li><a tabindex="-1" href="/iplay_mgmt/market/category/">分类页</a></li>
        <li><a tabindex="-1" href="/iplay_mgmt/market/hotsearch/">热门词</a></li>
    </ul>
</li>
