{% load extras %}
<div class="pagination">
    <ul>
        {% if feedback.has_previous %}
            <li class="prev"><a href="?pn={{ feedback.previous_page_number }}&pr={{ per_page }}&source_id={{ source }}&enabled={{ enabled }}">←上一页</a></li>
        {% else %}
            <li class="prev disabled"><a>←上一页</a></li>
        {% endif %}

        {% for p in page_range %}
            {% ifequal p feedback.number %}
                <li class="active"><a>{{ p }}</a></li>
            {% else %}
                <li><a href="?pn={{ p }}&pr={{ per_page }}&source_id={{ source }}&enabled={{ enabled }}">{{ p }}</a></li>
            {% endifequal %}
        {% endfor %}

        {% if feedback.has_next %}
            <li class="next"><a href="?pn={{ feedback.next_page_number }}&pr={{ per_page }}&source_id={{ source }}&enabled={{ enabled }}">下一页→</a></li>
        {% else %}
            <li class="next disabled"><a>下一页→ </a></li>
        {% endif %}
    </ul>
共{{ count_page }}页，{{ count }}条数据。
</div>
<!--div class="form">
    <form action="/iplay_mgmt/game/" method="get">
        到<input type="text" name="pn" style="width: 40px" />页
        <button type="submit" class="btn">跳转</button>
        共{{ count_page }}页，共{{ count }}条数据。当前显示{% multiply feedback.number 1 %}至{% multiply feedback.number 0 %}条。
    </form>
</div-->
