{% extends "game/header.html" %}

{% block title %}插件详情{% endblock %}

{% block user %}{{user.last_name}}{{user.first_name}}{% endblock %}

{% block content %}

    <aside class="side">

        <!-- Main content -->

        <section class="content">
            <div class="col-md-10">
                <table class="table table-bordered">
                    <th style="width: 20%">基本信息</th>
                    <th style="width: 80%">内容</th>
                    <tbody>
                        <tr>
                            <td>插件ID</td>
                            <td><input type="text" id="plugin_id" value="{{plugin.id}}" readonly="true" style="width:50%"/></td>
                        </tr>
                        <tr>
                            <td>插件的论坛链接</td>
                            <td><a id="" href="{{ plugin.post_url }}">{{ plugin.post_url }}</a></td>
                        </tr>
                        <tr>
                            <td>插件的包名</td>
                            <td><input type="text" id="" value="{{plugin.pkg_name}}" readonly="true" style="width:50%"/></td>
                        </tr>
 
                        <tr>
                            <td>插件的label</td>
                            <td><input type="text" id="" value="{{plugin.label}}" readonly="true" style="width:50%"/></td>
                        </tr>
                        <tr>
                            <td>插件的详细信息</td>
                            <td><textarea style="width:80%;" id="" rows="12" cols="140" class="required" tabindex="4" readonly="true" >{{plugin.detail_info}}</textarea></td>
                        </tr>
                        <tr>
                            <td>插件的版本号</td>
                            <td><input type="text" id="" value="{{plugin.ver_code}}" readonly="true" style="width:50%"/></td>
                        </tr>
                        <tr>
                            <td>插件的版本名</td>
                            <td><input type="text" id="" value="{{plugin.ver_name}}" readonly="true" style="width:50%"/></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-10">
                <table class="table table-bordered">
                    <th>支持的pkg</th>
                    <th>支持的version</th>
                    <th>支持的signature</th>
                    {% for plug in plugs %}
                    <tr id="channels">
                        <td><input type="text" id="" value="{{plug.pkg}}" readonly="true" style="width:50%"/></td>
                        <td><input type="text" id="" value="{{plug.version}}" readonly="true" style="width:50%"/></td>
                        <td><input type="text" id="" value="{{plug.signature}}" readonly="true" style="width:50%"/></td>
                    </tr>
                    {% endfor %}
                </table>
                <table class="table table-bordered">
                    <th>匹配的game_id</th>
                    <th>匹配的pkg_id</th>
                    <th>匹配的pkg</th>
                    <th>匹配的version</th>
                    <th>匹配的signature</th>
                    {% for game in games %}
                    <tr id="channels">
                        <td style="width:8%"><a href="/iplay_mgmt/game/detail/?game_id={{game.game_id}}&apk_id={{game.apk_id}}">{{ game.game_id }}</td>
                        <td style="width:8%"><a href="/iplay_mgmt/game/detail/?game_id={{game.game_id}}&apk_id={{game.apk_id}}#apk">{{ game.apk_id }}</td>
                        <td style="width:40%"><input type="text" id="" value="{{game.pkg_name}}" readonly="true" style="width:50%"/></td>
                        <td style="width:11%"><input type="text" id="" value="{{game.ver_code}}" readonly="true" style="width:50%"/></td>
                        <td style="width:40%"><input type="text" id="" value="{{game.signature_md5}}" readonly="true" style="width:50%"/></td>
                    </tr>
                    {% endfor %}
                </table>
                <table class="table table-bordered">
                    <th>其他同包名的插件ID</th>
                    <tr id="plugin_channels">
                    {% for plug in plugins %}
                        {% ifnotequal plug.id plugin.id %}
                        <td width="5%"><a href="/iplay_mgmt/game/plugin_detail/?plugin_id={{ plug.id }}">{{ plug.id  }}</td>
                        {% endifnotequal %}
                    {% endfor %}
                    </tr>
                </table>
            </div>

        </section>
        <!-- /.content -->
        <input type="hidden" id="game-id" value="{{ info.game_id }}"/>
        <input type="hidden" id="apk-id" value=""/>
        <textarea style="display:none" id="label-origin" readonly="readonly" rows="5" cols="140" class="required" tabindex="4">{% if info.origin_type %}{{ info.origin_type }}{% else %}{{''}}{% endif %}</textarea></td>

    </aside><!-- /.right-side -->

{% endblock %}
