{% extends "game/header.html" %}

{% block title %}插件搜索结果{% endblock %}

{% block user %}{{user.last_name}}{{user.first_name}}{% endblock %}

{% block content %}
     
    <aside class="side">

        <!-- Main content -->

        <section class="content">
            <div style="float:left;margin-left:5%;margin-top:2.5%;">
            <input type="text" id="search_plugin_info" autocomplete="off" name="q" value="" class="search_text left" style="width:150px;vertical-align:middle;"/>
            <input type="button" id="search_plugin" value="搜索插件" class="search_sub right" style="left:140px;top:90px;vertical-align:middle;"/>
            </div>

            <div class="row">
                <!--分页-->
                <div class="col-xs-6">
                  {% include "game/pagination.html" %}
                </div>
            </div>


            {% if feedback %}
            <div class="col-md-2">
                <!-- TABLE BEGIN -->
                <div class="table-responsive">
                    <!-- THE MESSAGES -->
                    <table class="table table-bordered">
                        <th>序号</th>
                        <th>插件ID</th>
                        <th>Label</th>
                        <th>插件包名</th>
                        <th>论坛链接</th>
                        <th>帖子ID</th>
                        {% for list in feedback %}
                            <tr>
                                <td style="width: 4%">{{list.index}}</td>
                                <td style="width: 4%"><a href="/iplay_mgmt/game/plugin_detail/?plugin_id={{ list.id }}">{{ list.id }}</a></td>
                                <td style="width: 20%">{{ list.label }}</td>
                                <td style="width: 30%">{{ list.pkg_name }}</td>
                                <td style="width: 30%"><a href="{{ list.post_url }}">{{ list.post_url }}</a></td>
                                <td style="width: 4%">{{ list.tid }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div><!-- /.col (RIGHT) -->
                <!-- TABLE END -->
            </div>
            {% endif %}

        </section>
        <!-- /.content -->
        <input type="hidden" id="game-id" value=""/>
        <input type="hidden" id="apk-id" value=""/>

    </aside><!-- /.right-side -->

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$("#search_plugin").click(function(){
    var search_plugin_info  = $("#search_plugin_info").attr("value");
    if(search_plugin_info){
    	window.location.href = '/iplay_mgmt/game/plugin_search/?search_plugin_info='+search_plugin_info;
    }else{
        alert("请输入查询内容！！！");
    }
});
</script>
{% endblock %}
