{% extends "game/header.html" %}

{% block title %}游戏搜索结果{% endblock %}

{% block user %}{{user.last_name}}{{user.first_name}}{% endblock %}

{% block content %}
     
    <aside class="side">

        <!-- Main content -->

        <section class="content">
            <!--div class="right">
	        <form id="search" class="left" action="/iplay_mgmt/game/search/" method="get"-->
                    <input type="text" id="search_game_name" autocomplete="off" name="q" value="" class="search_text left"/>
                    <input type="button" id="search_game" value="搜索游戏" class="search_sub right"/>
                <!--/form>
            </div-->

            {% if feedback %}
            <div class="col-md-2">
                <!-- TABLE BEGIN -->
                <div class="table-responsive">
                    <!-- THE MESSAGES -->
                    <table class="table table-bordered">
                        <th>序号</th>
                        <th>游戏名</th>
                        <th>游戏ID</th>
                        <th>ICON</th>
                        <th>下载量</th>
                        <th>类型</th>
                        <th>评分</th>
                        <th>语言</th>
                        {% for list in feedback %}
                            <tr>
                                <td style="width: 1%">{{list.index}}</td>
                                <td style="width: 5%"><a href="/iplay_mgmt/game/detail/?game_id={{ list.game_id }}">{{ list.game_name }}</a></td>
                                <td style="width: 5%">{{ list.game_id }}</td>
                                <td style="width: 15%"><img style="width:75px;height:75px;" src="{{ list.icon_url }}"></td>
                                <td style="width: 5%">{{ list.download_counts }}</td>
                                <td style="width: 5%">{{ list.game_types }}</td>
                                <td style="width: 5%">{{ list.star_num }}</td>
                                <td style="width: 5%">{{ list.game_language }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div><!-- /.col (RIGHT) -->
                <!-- TABLE END -->
            </div>
            {% endif %}

        </section>
        <!-- /.content -->
        <input type="hidden" id="game-id" value=""/>
        <input type="hidden" id="apk-id" value=""/>

    </aside><!-- /.right-side -->

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$("#search_game").click(function(){
    var search_game_name  = $("#search_game_name").attr("value");
    if(search_game_name){
    	window.location.href = '/iplay_mgmt/game/search/?search_game_name='+search_game_name;
    }else{
        alert("请输入查询内容！！！");
    }
});
    String.format = function() {
        if( arguments.length == 0 ) {
            return null;
        }
        var str = arguments[0];
        for(var i=1;i<arguments.length;i++) {
            var re = new RegExp('\\{' + (i-1) + '\\}','gm');
            str = str.replace(re, arguments[i]);
        }
        return str;
    };

    function show_channel(g_id) {
        if(g_id) {
            clear();
            $("#game-id").val(g_id);
            $("#game-info").html('');
            // console.log(g_id);
            $.ajax({
                type: 'post',
                url: '/iplay_mgmt/game/channel/',
                data: {g_id: g_id, csrfmiddlewaretoken: '{{ csrf_token }}'},
                dataType: 'json'})
            .done(function(data){
                if(data.status) {
                    if(data.status == '400') {
                        alert(data.error);
                    } else if(data.status == '200') {
                        // console.log(data.msg);
                        if(data.msg) {
                            var html = "";
                            for(var i=0; i<data.msg.length; i++) {
                                var td = '<td><a href="javascript:void(0)" onclick="show_info(\'{0}\')">{0}</a></td>';
                                var channel = data.msg[i];
                                if(i == 0) {
                                    show_info(channel);
                                }
                                html += String.format(td, channel);
                            }
                            $("#channels").html(html);
                        }
                    }
                }
            })
            .fail(function() {
                alert("请求出错");
            });

            // 基本信息请求
            $.ajax({
                type: 'post',
                url: '/iplay_mgmt/game/labelinfo/',
                data: {g_id: g_id, csrfmiddlewaretoken: '{{ csrf_token }}'},
                dataType: 'json'})
            .done(function(data){
                if(data.status) {
                    if(data.status == '400') {
                        alert(data.error);
                    } else if(data.status == '200') {
                        // console.log(data.msg);
                        if(data.msg) {
                            var msg_fields = data.msg;
                            // console.log(msg_fields);
                            if(msg_fields) {
                                var info = msg_fields[0].fields;
                                if(info) {
{#                                    $("#label-search-name").val(info.search_name);#}
                                    $("#label-game-name").val(info.game_name);
                                    $("#label-game-id").val(info.game_id);
                                    $("#label-download").val(info.download_counts);
                                    $("#label-language").val(info.game_language);
                                    $("#label-type").val(info.game_types);
                                    $("#label-star").val(info.star_num);
                                    $("#label-icon").val(info.icon_urls);
                                    $("#label-screen").val(info.screen_shot_urls);
                                    $("#label-desc").val(info.detail_desc);
                                }
                            }
                        }
                    }
                }
            })
            .fail(function() {
                alert("请求出错");
            });
        }
    }

    function show_info(channel) {
        var g_id = $("#game-id").val();
        if(g_id && channel.length>0) {
            $.ajax({
                type: 'post',
                url: '/iplay_mgmt/game/gameinfo/',
                data: {g_id: g_id, channel: channel, csrfmiddlewaretoken: '{{ csrf_token }}'},
                dataType: 'json'})
            .done(function(data){
                if(data.status) {
                    if(data.status == '400') {
                        alert(data.error);
                    } else if(data.status == '200') {
                        // console.log(data.msg);
                        if(data.msg) {
                            var msg_fields = data.msg;
                            if(msg_fields) {
                                var info = msg_fields[0].fields;
                                 $("#apk-id").val(msg_fields[0].pk);
                                if(info) {
                                    $("#pkg-game-name").val(info.game_name);
                                    $("#pkg-channel").val(info.market_channel);
                                    $("#pkg-name").val(info.pkg_name);
                                    $("#pkg-ver-code").val(info.ver_code);
                                    $("#pkg-ver-name").val(info.ver_name);
                                    $("#pkg-size").val(info.file_size);
                                    $("#pkg-down-num").val(info.downloaded_cnts);
                                    $("#pkg-language").val(info.game_language);
                                    $("#pkg-type").val(info.game_types);
                                    $("#pkg-down-url").val(info.download_url);
                                    $("#pkg-icon").val(info.icon_urls);
                                    $("#pkg-screen").val(info.screen_shot_urls);
                                    $("#pkg-desc").val(info.game_desc);
                                }
                            }

                        }
                    }
                }
            })
            .fail(function() {
                alert("请求出错");
            });
        }
    }


    function label_info_change() {
        var game_id = $("#game-id").val();
        if(game_id) {
            var game_name = $("#label-game-name").val();
            var download_num = $("#label-download").val();
            var language = $("#label-language").val();
            var type = $("#label-type").val();
            var star = $("#label-star").val();
            var icon = $("#label-icon").val();
            var screen = $("#label-screen").val();
            var desc = $("#label-desc").val();

            $.ajax({
                type: 'post',
                url: '/iplay_mgmt/game/label_info_change/',
                data: {game_id: game_id,
                    game_name: game_name,
                    download_num: download_num,
                    language: language,
                    type: type,
                    star: star,
                    icon: icon,
                    screen: screen,
                    desc: desc,
                    csrfmiddlewaretoken: '{{ csrf_token }}'},
                dataType: 'json'})
            .done(function(data){
                if(data.status) {
                    if(data.status == '400') {
                        alert(data.error);
                    } else if(data.status == '200') {
                        // console.log(data.msg);
                        alert("修改成功");
                    }
                }
            })
            .fail(function() {
                alert("请求出错");
            });
        }
    }

    function pkg_info_change() {
        var apk_id = $("#apk-id").val();
        if(apk_id) {
            var game_name = $("#pkg-game-name").val();

            var pkg_name = $("#pkg-name").val();
            var ver_code = $("#pkg-ver-code").val();
            var ver_name = $("#pkg-ver-name").val();
            var size = $("#pkg-size").val();

            var download_num = $("#pkg-down-num").val();
            var language = $("#pkg-language").val();
            var type = $("#pkg-type").val();
            var url = $("#pkg-down-url").val();
            var icon = $("#pkg-icon").val();
            var screen = $("#pkg-screen").val();
            var desc = $("#pkg-desc").val();

            $.ajax({
                type: 'post',
                url: '/iplay_mgmt/game/pkg_info_change/',
                data: {apk_id: apk_id,
                    game_name: game_name,
                    pkg_name: pkg_name,
                    ver_code: ver_code,
                    ver_name: ver_name,
                    size: size,
                    download_num: download_num,
                    language: language,
                    type: type,
                    url: url,
                    icon: icon,
                    screen: screen,
                    desc: desc,
                    csrfmiddlewaretoken: '{{ csrf_token }}'},
                dataType: 'json'})
            .done(function(data){
                if(data.status) {
                    if(data.status == '400') {
                        alert(data.error);
                    } else if(data.status == '200') {
                        // console.log(data.msg);
                        alert("修改成功");
                    }
                }
            })
            .fail(function() {
                alert("请求出错");
            });
        }
    }

    function clear() {
        $("#apk-id").val("");

        $("#pkg-game-name").val("");
        $("#pkg-channel").val("");
        $("#pkg-name").val("");
        $("#pkg-ver-code").val("");
        $("#pkg-ver-name").val("");
        $("#pkg-size").val("");
        $("#pkg-down-num").val("");
        $("#pkg-language").val("");
        $("#pkg-type").val("");
        $("#pkg-down-url").val("");
        $("#pkg-icon").val("");
        $("#pkg-screen").val("");
        $("#pkg-desc").val("");

        $("#label-search-name").val("");
        $("#label-game-name").val("");
        $("#label-download").val("");
        $("#label-language").val("");
        $("#label-type").val("");
        $("#label-star").val("");
        $("#label-icon").val("");
        $("#label-screen").val("");
        $("#label-desc").val("");
    }
</script>
{% endblock %}
