{% extends "market/header.html" %}
{% block title %}banner编辑{% endblock %}
{% block user %}{{user.last_name}}{{user.first_name}}{% endblock %}
{% block content %}

<div style="height:5%;font-size:25px;margin-top:2%">
<p>banner编辑页</p>
</div>
<hr>
 
<div>
<div>
{% if banner_id %}
<span class="il_block w_left align_right">Banner ID</span>
<input type="text" id="banner_id" value="{{ banner_id }}" class="il_block w_center align_left"></input>
</div><div>
{% endif %}
{% if banner_id_index %}
<input type="text" id="banner_id_index" value="{{ banner_id_index }}" class="il_block w_center align_left" style="visibility:hidden"></input>
</div><div>
{% endif %}
{% if banner_id %}
<span class="il_block w_left align_right">Banner名</span>
<input type="text" id="banner_name" value="{{ banner.name }}" class="il_block w_center align_left"></input>
</div><div>
{% endif %}
<span class="il_block w_left align_right">游戏ID</span>
<input type="text" id="banner_game_id" value="{{ banner.game_id }}" class="il_block w_center align_left"></input>
</div><div>
<span class="il_block w_left align_right">专题ID</span>
<input type="text" id="banner_topic_id" value="{{ banner.topic_id }}" class="il_block w_center align_left"></input>
</div><div>
<span class="il_block w_left align_right">Banner图片</span>
<input type="text" id="banner_pic_url" value="{{ banner.pic_url }}" class="il_block w_center align_left"></input>
</div><div>
<span class="il_block w_left align_right">发布时间</span>
<input type="text" id="release_date" value="{{ banner.release_date }}" class="il_block w_center align_left" onclick="SelectDate(this,'yyyy-MM-dd hh:mm:ss')"></input>
</div><div>
<span class="il_block w_left align_right">发布时间</span>
<input type="text" id="unrelease_date" value="{{ banner.unrelease_date }}" class="il_block w_center align_left" onclick="SelectDate(this,'yyyy-MM-dd hh:mm:ss')"></input>
</div><div>
</div>
    <input type="button" id="banner_edit" value="保存banner信息" class="submit_button"></input> 
</div>

{% endblock %}
