{% extends "market/header.html" %}
{% block title %}推荐页游戏编辑{% endblock %}
{% block user %}{{user.last_name}}{{user.first_name}}{% endblock %}
{% block content %}

<div style="height:5%;font-size:25px;margin-top:2%">
<p>推荐页游戏编辑</p>
</div>
<hr>
 
<div>
<div>
{% if game_id_index %}
<input type="text" id="game_id_index" value="{{ game_id_index }}" class="il_block w_center align_left" style="visibility:hidden"></input>
</div><div>
{% endif %}
<span class="il_block w_left align_right">游戏ID</span>
<input type="text" id="game_id" value="{{ game.game_id }}" class="il_block w_center align_left"></input>
</div><div>
<span class="il_block w_left align_right">游戏序号</span>
<input type="text" id="manual_num" value="{{ game.manual_num }}" class="il_block w_center align_left"></input>
</div><div>
<span class="il_block w_left align_right">发布时间</span>
<input type="text" id="release_date" value="{{ game.release_date }}" class="il_block w_center align_left" onclick="SelectDate(this,'yyyy-MM-dd hh:mm:ss')"></input>
</div><div>
<span class="il_block w_left align_right">发布时间</span>
<input type="text" id="unrelease_date" value="{{ game.unrelease_date }}" class="il_block w_center align_left" onclick="SelectDate(this,'yyyy-MM-dd hh:mm:ss')"></input>
</div><div>
</div>
    <input type="button" id="recgame_edit" value="保存信息" class="submit_button"></input> 
</div>

{% endblock %}
